backports.entry-points-selectable==1.1.0
deepspeech==0.9.3
distlib==0.3.3
filelock==3.3.0
mysql-connector-python==8.0.27
node==0.9.28
numpy==1.22.0
odict==1.8.0
optional-django==0.1.0
pbr==5.6.0
platformdirs==2.4.0
plumber==1.6
six==1.16.0
stevedore==3.4.0
virtualenv==20.8.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
zope.component==5.0.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
zope.lifecycleevent==4.3
